<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Station</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navigation.css" />
    <link rel="stylesheet" href="~/css/eBook/eBook.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">The Studio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contacts</a>
                        </li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                    Art
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">eBooks</a>
                                    <a class="dropdown-item" href="#">Podcasts</a>
                                    <a class="dropdown-item" href="#">Manga</a>
                                    <a class="dropdown-item" href="#">Art1</a>
                                    <a class="dropdown-item" href="#">Art2</a>
                                    <a class="dropdown-item" href="#">Art3</a>
                                    <a class="dropdown-item" href="#">Art4</a>
                                    <a class="dropdown-item" href="#">Art5</a>
                                    <a class="dropdown-item" href="#">Art6</a>
                                </div>
                            </div>
                        </li>
                        @* Make separate area in the future *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Blog</a>
                        </li>
                        @* Make separate area in the future *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Store</a>
                        </li>
                        @* Future update *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Features(Evenets)</a>
                        </li>
                        @if (User.IsInRole(AdminConstants.AdministratorRoleName))
                        {
                            <li>
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                        Admin
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ElectronicBook" asp-action="Create">Create ElectronicBook</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ElectronicBook" asp-action="All">See all eBooks</a>
                                    </div>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <div class="dropdown show">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                                        User
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="ElectronicBook" asp-action="Create">My eBooks</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ASP.NET_Core_The_Studio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
