@{
    ViewData["Title"] = "Home";
}
<blockquote class="blockquote text-center">
    <h1 class="text-center">The Studio</h1>
    <footer class="blockquote-footer">Our motivational blockquote HERE ...</footer>
</blockquote>
<img src="https://images.assetsdelivery.com/compings_v2/yehorlisnyi/yehorlisnyi2104/yehorlisnyi210400016.jpg" class="img-fluid" alt="Responsive image">

<div class="container">
    <h2>What to expect from our art</h2>
    <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
</div>

<div class="container">
    <h2>About our Eco System</h2>
    <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
</div>

<h2>Newest Art/Products</h2>
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
        <li class="list-group-item">eBook Title 1 Price 4.99$</li>
    </ul>
</div>

<h1>1. Main site header and sentence ✓</h1>
<h1>2. Main image of the team ✓</h1>
<h1>3. Small info about our eco system ✓</h1>
<h1>4. Small bar for the newest products/podcats... ✓</h1>
<h1>5. Short description what we are going to make and offer to you ✓</h1>
