@{
    ViewData["Title"] = "Team";
}

<h1>1. Short description about our team</h1>
<h1>2. Some photos of the team</h1>
<h1>3. Card for every member of the team with short description, role in the team, name and picture</h1>
<h1>3.1 Donate button for the content that person is providing (Probably)</h1>
<h1>4. Short history of the team</h1>
